html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

#tableMain {
    width: 100%;
    height: 100%;
}

#canvasMain {
    width: 100%;
    height: 100%;
}

#trStat {
    display: none;
}

#enablePlayButton {
    display: none;
    width: 200px;
    background-color: pink;
}
